@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;

}

.Events {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 48.6px;
    text-align: left;
    color: #2C49FE;
}

.free {
    color: #01C8FF;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.nav-btn {
    margin-top: 12px;
    width: 118px;
    height: 46px;
    top: 13px;
    left: 1202px;
    padding: 11px 28px 11px 28px;
    gap: 10px;
    border-radius: 23px;
    opacity: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #2C49FE;
    border: none;
}

.nav-btn:hover {
    background: #FFFFFF;
    color: #2C49FE;
    border: 2px solid #2C49FE;

}

.gap30 {
    gap: 30px;
}

.nav-bar {
    box-shadow: 0px 8px 35px 0px #0000000D;
    margin-bottom: 67px;
}

.home {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000;
    opacity: 60%;
}

.jone {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;
    color: #000;
    margin-bottom: 16px;
}

.sec-1-dictumst {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    opacity: 60%;
    color: #000;
    margin-bottom: 29px;
}

.following {
    margin-bottom: 17px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #000;
    opacity: 60%;
}

.auage {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #000;
    padding-left: 13px;
    padding-top: 13px;

}

.quis {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #666666;
    padding-left: 12px;
    padding-right: 27px;

}

.box-15 {
    width: 171px;
    height: 138px;
    top: 437px;
    left: 1449px;
    gap: 0px;
    border-radius: 20px;
    opacity: 10%;
    background: #2C49FE;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #000000;
    opacity: 60%;
    padding-top: 16px;

}

.box-15:hover {
    color: #2C49FE;
    background: white;
    border: 2px solid #2C49FE;
}

.more {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 60%;
}

.event-box {
    width: 322px;
    height: 138px;
    top: 437px;
    left: 765px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    box-shadow: 0px 8px 35px 0px #0000001A;
}


.gap20 {
    gap: 20px;
}

.event-png {
    padding-top: 13px;
    padding-left: 13px;
    padding-bottom: 13px;
}

.new {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-align: left;
    color: #000000;
}

.mb75 {
    margin-bottom: 75px;
}

.user {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #000;
}

.event-name {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    opacity: 60%;
}

.fuce {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #000000;
}

.date {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    opacity: 60%;
    margin-left: 8px;
}

.eget {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    opacity: 60%;
}

.three {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    opacity: 60%;
    margin-left: 8px;

}

.user-one {
    width: 80px;
    height: 80px;
}

.plus-box {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    bottom: 3%;
    right: 3%;

    background: #FFFFFF;
}

.plus-box:hover {
    background-color: #2C49FE;
    color: #FFFFFF;

}

.img-1 {
    margin-bottom: 30px;
}

.img-2 {
    margin-left: 28px;
    margin-bottom: 29px;
}

.img-4 {
    margin-left: 28px;
}

.fiften {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #666666;

}

.mo-re {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #666666;

}


.bor-der {
    border: 2px solid #9CA1BE;
    border-radius: 35px;
    align-items: center;
    padding: 7px;

}

.ml-21 {
    margin-left: 21px;
}

.post-com {
    width: 208px;
    height: 56px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 36px;
    color: blue;


    font-size: 20px;

    font-weight: 600;
    line-height: 30px;
    transition: all 300ms linear;



}

.max-width {
    max-width: 800px;

}

.max-width {
    max-width: 800px;

}

.input-new {
    outline: none;
    border: none;
}

.input-font {
    font-family: var(--poppins);
    font-size: var(--fs-20);
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}

.btn {
    max-width: 191px;
    height: 60px;
    width: 191px;
    color: #E6E6E6;
    border-radius: 35px !important;

}

.comment-btn,
.btn-create {
    width: 174px;
    height: 60px;
    background-color: blue;
    color: white;
    border-radius: 40px !important;
    border: none;

}

.modal-input {
    max-width: 932px;
    width: 100%;
    height: 60px;
    border-radius: 35px;
    padding: 10px;
    border: 1px solid #9CA1BE;
    outline: none;


}

.max-277 {

    max-width: 277px;
    width: 100%;
    border-radius: 35px !important;
    border: 1px solid #9CA1BE;
    color: #666666;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding: 10px;
    cursor: pointer;


}

.gap-14 {
    gap: 14px;
}

.text-area {
    max-width: 1224px;
    width: 100%;
    border-radius: 35px;
    resize: none;
    height: 263px;
    padding: 15px 28px;
    margin-top: 14px;

}

.modal-text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

}

.max-width {
    max-width: 1320px !important;
    width: 100% !important;
    display: flex !important;
}

.line-two {
    width: 1251px;
    height: 0px;
    top: 1298px;
    left: 335px;
    gap: 0px;
    border: 1px;
    opacity: 0.2px;
    border: 1px solid #000000;
    margin-top: 35px;
    margin-bottom: 35px;
    opacity: 20%;

}

.mt30 {
    margin-top: 30px;
}

.one {
    width: 56px;
    height: 56px;

}

.user-name {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.Dictumst {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
    opacity: 60%;
}

.light-box {
    width: 1, 166px;
    height: 116px;
    padding: 14px 20px 20px 20px;
    gap: 10px;
    border-radius: 0px 20px 20px 20px;
    opacity: 0px;
    background: #F1F2F5;
}

.ml19 {
    margin-left: 19px;
}

.ml76 {
    margin-left: 76px;
}


.remove-svg {
    opacity: 60%;
}

.content {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000;
    opacity: 60%;
    margin-left: 8px;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top:none;
}
.modal-title{
    padding-left: 22px;
}
.pl-22{
    margin-left: 22px;
}
.sec-3 {
    border-radius: 30px;
    box-shadow: 0px 8px 35px 0px #0000001A;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.ml-12 {
    margin-left: 12px;
}

.sec-4-border {
    border: 1px solid #00000033;
    border-radius: 20px;
}

.mt-45 {
    margin-top: 45px;
}

.footer-sec {
    background: #000000;
    margin-top: 104px;
}

.footer-text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    max-width: 346px;
}

.col-3-head {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffffff;
}

.col-3-text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    width: fit-content;
}

.gall-ry {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 60px;
    margin-bottom: 24px;
}

.credits {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;

    color: white;
    margin-top: 70px;
    margin-bottom: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.pr-105 {
    padding-right: 105px;

}

.pt-30 {
    padding-top: 30px;
}

.gap10 {
    gap: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.pt-50 {
    padding-top: 50px;
}

.mt15 {
    margin-top: 15px;
}

.show-box {
    height: 100%;
    background: #2D3CAE87;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: white;

}

.show-box:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.comment-user {
    margin-top: 30px;
    margin-left: 34px;
    margin-bottom: 34px;
}

.ml34 {
    margin-left: 34px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-41 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.transform {
    bottom: 10%;
    right: 3%;

}

.box-4 {
    width: 100px;
    height: 100px;
    gap: 0px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.plus-15 {

    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #000000;
    opacity: 60%;
}

.more {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 60%;

}

.mt10 {
    margin-top: 20px;
}





/*--------------------------------------------------------------------------Responisve--------------------------------------------------------------------------*/
@media (max-width:576px) {

    .column {
        flex-direction: column;
        justify-content: start;
    }

    .sm-col {
        flex-direction: column;
    }

    .modal-footer {
        justify-content: center !important;
    }

    .img-1,
    .img-2,
    .img-4,
    .img-3 {
        margin-left: auto;
        margin-right: auto;
    }

    .logo1 {
        width: 70px;
    }
 
}



@media (max-width:768px) {
    .display {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: black;
    }

    input[type="checkbox"]:checked~ul.display {
        right: 0;

    }

    label[for="nav-icon"] {
        height: 30px;
        width: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        z-index: 10;
        position: fixed;
        right: 2%;
    }

    label[for="nav-icon"]>span {
        width: 100%;
        height: 4px;
        background-color: rebeccapurple;

    }

    .nav-link {
        color: #FFFFFF;
    }

    .imges-box {
        flex-wrap: wrap;
    }

    .img-1,
    .img-2,

    .img-3 {
        margin-left: auto;
        margin-right: auto;
    }

    .img-4 {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    .light-box {
        height: 100%;
    }
         .mb-15-sm {
             margin-bottom: 15px;
         }
}

@media (max-width:992px) {

    .light-box {
        height: 100%;
    }
    
}
@media (max-width:1200px) {
    .Dictumst {
            font-size: 13px;
        }
        .pl-22 {
            margin-left: 2px;
        }
}